.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog-entry {
        margin-bottom: 20px;
        border: 3px solid #0068ad;
        padding: 20px;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
	border-radius: 6px;
	transition: 0.2s;

	&:hover {
	    box-shadow: 5px 5px #0068ad;
	    cursor: pointer;
	}

	&:active {
	    box-shadow: 3px 3px #0068ad;
	    transform: translate(4px, 4px);
	    transition: 0.02s;
	}

        .blogpost-entry-info {
            display: flex;
            flex-direction: column;
            align-items: baseline;

            *:not(:first-child) {
                margin-top: 10px;
            }
            .blogpost-title {
                .blogpost-link {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .blogpost-preview-container {
            margin-left: 20px;
        }
    }
}


#dark-toggler {
    &:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 1000px) {
    .blog-entry {
        flex-direction: column !important;
    }

    .blogpost-preview-container {
        margin-left: 0 !important;
    }

    .blog-entry > *:not(:first-child) {
        margin-top: 10px;
    }
}

.darkmode {
    .blog-entry {
        border-color: #c1e7f4;
	border-width: 2px;
	&:hover {
	    box-shadow: 5px 5px #c1e7f4; 
	}
	&:active {
	    box-shadow: 3px 3px #c1e7f4;
	}
    }
    .home-content {
        .blogpost-entry-info {
            .blogpost-title {
                .blogpost-link {
                    color: white;
                }
            }
        }
    }
}
