@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro');

@mixin fontfamily {
    font-family: "Source Serif Pro", sans-serif !important;
}

$selection_selectors: h1, h2, h3, h4, h5, h6, p, li, a, code, em, i, b;
$lightmode_hovercolor: #0068ad;

#{$selection_selectors} {
    &::selection {
        background: #0068ad;
        color: white;
    }
}

h1, h2, h3, h4, h5, h6, p, li, a {
    @include fontfamily;
}

@keyframes texthover {
    0% {background: linear-gradient(to top, black 0%, white 0%)}
    25% {background: linear-gradient(to top, black 25%, white 0%)}
    50% {background: linear-gradient(to top, black 50%, white 0%)}
    75% {background: linear-gradient(to top, black 75%, white 0%)}
    100% {background: linear-gradient(to top, black 100%, white 0%)}
}

body {
    background-color: #fcf4d6;
}

.blog-container {
    display: flex;
}

.blog-header-element {
    a {
        color: black;
        text-decoration: none;
	padding: 3px 4px;
	transition: 0.1s;

        &:hover {
            color: white;
            //animation-name: texthover;
            //animation-duration: 0.05s;
            background-color: #0068ad;
	    border-radius: 6px;
        }
    }
}
.blog-header-wrapper {
    width: 20%;

    .blog-header {
        display: flex;
        flex-direction: column;
        margin: 25px;
        position: fixed;
        align-items: baseline;

        .blogname {
            text-decoration: none;
            color: black;
            // padding: 0 4px 3px 4px;
            transition: 0.1s;

            &:hover {
                border-radius: 6px;
         /*       animation-name: texthover;
                animation-duration: 0.05s;*/

                background-color: #0068ad;
                color: white;
            }
        }

        .blog-mobile-links-container {
            display: none;
        }

        .blog-header-ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            align-items: baseline;

            li {
                font-size: 1.25rem;
                margin-top: 10px;
            }

            .blog-header-links-container {
                display: flex;
                flex-direction: column;
                align-items: baseline;

                > * {
                    margin-left: 10px;
                }

            }
        }
    }
}

.blog-post {
    width: 70%;
    margin: 20px;

    .blogpost-info {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        #blogpost_title {
            line-height: 130%;
            font-size: 2.7rem;
        }

        /*#blogpost_description {
            text-align: center;
        }*/
        
        p {
            font-size: 1.1rem;
        }

        > * {
            margin-top: 7px;
            width: 75%
        }
    }
    .blogpost-content {
        .tag-content {
            margin-top: 30px;
        }
    }
}

.turbolinks-progress-bar {
    height: 3px;
    background-color: #0068ad;
}


@media only screen and (max-width: 1000px) {
    .blog-container { 
        flex-direction: column;
         
        .blog-header-wrapper { 
            width: 100%;
            .blog-header {
                flex-direction: column;
                margin: 2.5rem;
                align-items: baseline;
                position: unset !important;

                .blogname {

                }
                .blog-mobile-links-container {
                    display: inline !important;

                    .blog-header-ul {
                        flex-direction: row !important;
                    }
                }

                > .blog-header-ul {
                    display: none !important;
                }
            }
        }
    }

    .blog-post {
        width: 100%;
        margin: auto; 

        .blogpost-info {
            margin-left: 2.5rem;
        }
        .blogpost-content {
            margin-top: 0px !important;
        }
    }
}
.darkmode {

    $hovercolor: #c1e7f4; 
    #{$selection_selectors} {
        &::selection {
            background-color: $hovercolor;
            color: black;
        }
    }
    @keyframes dark-texthover {
        0% {background: linear-gradient(to top, white 0%, black 0%)}
        25% {background: linear-gradient(to top, white 25%, black 0%)}
        50% {background: linear-gradient(to top, white 50%, black 0%)}
        75% {background: linear-gradient(to top, white 75%, black 0%)}
        100% {background: linear-gradient(to top, white 100%, black 0%)}
    }

    .blogname {
        &:hover {
            background-color: $hovercolor;
	    h1 {
		color: black !important;
	    }
            //animation: dark-texthover;
        }
    }
    .blog-header-element {
        a {
            color: white;

            &:hover {
                color: black;
                background-color: $hovercolor;
        /*        animation: dark-texthover;
                animation-duration: 0.05s;*/
            }
        }
    }

    .pgp-modal {
        &, .pgp-key-input, .pgp-key-password-input {
            background-color: #121212;
            color: white;
            border-color: $hovercolor;

            .pgp-modal-button-row {
                .pgp-modal-button {
                    background-color: $hovercolor;
                    border-color: $hovercolor;
                    color: black;
                }
            }
        }
    }

    .turbolinks-progress-bar {
        height: 3px;
        background-color: $hovercolor;
    }
}

.pgp-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: -moz-fit-content;
    width: fit-content;

    background-color: white;
    padding: 20px;

    &, .pgp-key-input, .pgp-key-password-input {
        border: 3px solid $lightmode_hovercolor;
        border-radius: 6px;
    }

    & > *:not(:first-child) {
        margin-top: 20px;
    }

    .pgp-key-input, .pgp-key-password-input {
        padding: 10px;

        &:focus {
            outline: none !important;
        }
    }

    .pgp-key-input {
        width: 90%;
        height: 200px;
    }


    .pgp-modal-button-row {
        & > *:not(:first-child) {
            margin-left: 5px;
        }

        .pgp-modal-button {
            border: 1px solid $lightmode_hovercolor;
            padding: 5px;
            border-radius: 6px;
            background-color: $lightmode_hovercolor;
            color: white;

            &:hover {
                cursor: pointer
            }
        }
    }

}
