@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');


@mixin fontsize {
    font-size: 20px;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 50px;

    @mixin flex-column {
        display: flex;
        flex-direction: column;
    }

    @mixin flex-center {
        @include flex-column;
        align-items: baseline;
    }

    @mixin margin-topfix {
        margin-top: 10px;
    }

    $post_width: 90%;

    .pandoc-post {
        display: flex;
        flex-direction: column;
        width: $post_width;

        > * {
            width: 100%; 
        }

        div.sourceCode {
            @include margin-topfix;
        }

        h1, h2, h3 {
            margin-top: 15px;
            line-height: 1;
        }

    }

    .asciidoc-post {

        @include flex-center;
        width: $post_width;


        #preamble, div[class*="sect"] { // Sections
            @include flex-center;
            width: 100%;

            h1, h2, h3, h4, h5, h6 { // Headers of sections
                width: $post_width;
            }
        }
        .sectionbody {
            @include flex-center;
            width: 100%;

            .admonitionblock {
                width: $post_width;
                border: 2px solid black;
                margin-top: 15px;

                .icon {
                    display: none;
                }
                .content {
                    font-family: "Source Serif Pro";
                    @include fontsize;
                    padding: 20px;
                }
            }

            .note {
                border-color: #aaa;
            }
            .tip {
                border-color: #efd50e;
            }
            div[class*="sect"]  {
                margin-top: 15px;
            }
        }

        .paragraph, .listingblock, .olist {
            width: $post_width;
            p { // Override for AsciiDoc
                width: 100%;
            }
        }


    }

    ol {
        list-style-type: decimal;
        margin-left: 50px;
        li p {
            width: 100% !important;
        }
    }
    p, b, h2 {
        @include fontsize;
        margin-top: 10px;
        width: 80%;
        line-height: 170%;
    }

    > ul, > * > ul { // I love css
        @include margin-topfix;
    }

    ul {
        list-style-type: disc;
        margin-left: 50px;
        width: 60%;
        ul { // Sub-lists
            margin-left: 20px;
        }
    }

    ol li, ul li {
        font-size: 20px;
        line-height: 30px;
    }

    a {
        color: black;
    }


    img {
        width: 40%;
    }

    .hljs {
        font-family: "Source Code Pro", monospace !important;
        a, span {
            font-family: "Source Code Pro", monospace !important;
        }
    }

    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

}



@media only screen and (max-width: 1000px) {
    .post-content {
        align-items: baseline;
        margin-left: 2.5rem;

        img {
            width: 70%;
        }
        code {
            white-space: normal;
        }

        > .pandoc-post { // Make this more readable
            width: 75%;
        }
    }
}

.darkmode {
    .post-content {
        /*code {
            border: 1px solid white !important;
            background-color: #100d0e !important;
        }*/
        a {
            color: white;
        }
    }
}
